<div class="container">
 <div class="row form-group">
 <%= form_for(@med) do |f| %>
   <div class="col-sm-1"><%= f.label :name,{:class=>"form-control"}%></div><br>
   
   <div class="row">
 	<div class="col-sm-6"><%= f.text_field :name,{:class=>"form-control"} %></div><br>
 	 <%= f.hidden_field :patient_id %>
 	</div><br>
 	<div class="row">
 	<div><%= f.submit "Update", {:class=>"btn btn-sm btn-primary"}%></div>
 
 </div>
 <% end %>
</div>
</div>
